@font-face {
  font-family: 'bryntum-advanced';
  src: url('../fonts/bryntum-advanced.eot?11802770');
  src: url('../fonts/bryntum-advanced.eot?11802770#iefix') format('embedded-opentype'),
       url('../fonts/bryntum-advanced.woff?11802770') format('woff'),
       url('../fonts/bryntum-advanced.ttf?11802770') format('truetype'),
       url('../fonts/bryntum-advanced.svg?11802770#bryntum-advanced') format('svg');
  font-weight: normal;
  font-style: normal;
}


.taskTip {
    width     : 100%;
    min-width : 100px
}

.taskTip td {
    width       : 70px;
    padding     : 5px 0 0 0;
    white-space : nowrap;
}

.tipHeader {
    white-space   : nowrap;
    margin-bottom : 4px;
}

.id {
    background-color : #F6F6F6 !important;
    background-image : -moz-linear-gradient(left center, #F6F6F6, #E9E9E9) !important;
    background-image : -webkit-linear-gradient(left, #F6F6F6, #E9E9E9) !important;
    background-image : linear-gradient(left, #F6F6F6, #E9E9E9) !important;
}

.gnt-color-palette {
    background-color : #E9F2FF;
    border           : 1px solid #8EAACE;
    position         : absolute;
    height           : 95px;
    width            : 152px;
}

.first-row .sch-gantt-labelct-left {
    display : none;
}

.sch-ganttview .kickoff {
    border-left : 2px dotted #00a000;
}

.sch-gantt-project-line-text,
.line-text {
    position         : absolute;
    top: 22px;
    left             : 0px !important;
    background-color : #00a000;
    color            : #fff;
    display          : block;
    font-size        : 0.8em;
    height           : 13px;
    white-space      : nowrap;
    width            : auto;
    padding-left     : 3px;
    padding-right    : 3px;
}

.sch-timeline {
    overflow : visible;
}

.sch-rollup-wrap .sch-gantt-progress-bar span {
    display : none;
}


.enable-taskarea .gnt-taskarea {
    display : block;
}

.filterfield input {
    border-left   : 0;
    border-right  : 0;
    border-bottom : 0;
    background    : #fff url(../images/search.png) no-repeat 5px center;
    padding-left  : 25px;
}
.gnt-national-holiday {
    background-color: #eee;
    background-position: center 140px !important;
    background-repeat      : no-repeat;
}
.zoomIn {
    -ms-opacity: 1 !important;
    opacity: 1 !important;
}

.zoomOut {
    -ms-opacity: 1 !important;
    opacity: 1 !important;
}

.sch-gantt-task-bar {
    height: 100% !important;
}

.sch-gantt-parenttask-bar {
    height: none !important;
}

.sch-gantt-progress-bar {
    height: 100% !important;
    max-height: 21px !important;
}

.x-btn-over.x-btn-default-medium {
    border-color: #0072c6 !important;
    background-color: #0072c6 !important;
    background-image: none !important;
}

.x-btn-button-default-medium {
    height: 20px !important;
}