.CustomerApproval {
    border           : 2px solid #ddd;
    background-color : #222;
}

.sch-gantt-project-line-end.sch-gantt-project-line-Delivery .sch-gantt-project-line-text {
    top : 44px;
}

.projectIcon {
}

.crossPD-line {
    border : dashed;
}