.sch-gantt-timeline .sch-header-row {
    display : none;
}

.sch-gantt-timeline .sch-header-row:first-child {
    display : block;
}

.sch-gantt-timeline .sch-column-header,
.sch-gantt-timeline .x-grid-header-ct,
.sch-gantt-timeline .x-column-header {
    background       : none !important;
    background-image : none !important;
    border           : 0 none;
    color            : #999;
}

.sch-gantt-timeline .sch-schedulerview {
    overflow : hidden !important;
}

.sch-gantt-timeline .sch-schedulerview .x-grid-cell {
    border     : 3px solid #ccc !important;
    background : #707070 !important;
}

.sch-gantt-timeline .sch-gantt-timeline-stretch {
    height : 100% !important;
}

.sch-gantt-timeline .x-grid-body {
    border : 0 none !important;
}

.sch-gantt-timeline .x-grid {
    border : 0 none;
}

.sch-gantt-timeline .sch-event {
    border-color     : transparent;
    color            : #fff;
    background-color : rgb(112, 184, 114);
    background-image : none;
}

.sch-gantt-timeline div.sch-event-milestone {
    background        : #333;
    margin-left       : -13px;
    width             : 24px !important;
    height            : 24px !important;
    border            : 3px solid #ccc;
    -webkit-transform : rotate(45deg);
    -moz-transform    : rotate(45deg);
    -ms-transform     : rotate(45deg);
    transform         : rotate(45deg);
    border-radius     : 1px;
    top               : auto !important;
    bottom            : -13px;
    overflow          : visible;
    box-shadow        : 1px 1px 1px rgba(100, 100, 100, 0.2);
    z-index: 100;
}

div.sch-event-milestone .sch-event-inner {
    text-indent       : 33px;
    margin-top        : 22px;
    color             : #888;
    -webkit-transform : rotate(-45deg);
    -moz-transform    : rotate(-45deg);
    -ms-transform     : rotate(-45deg);
    transform         : rotate(-45deg);
    overflow          : visible;
}

.sch-gantt-timeline div.sch-event-milestone .sch-resizable-handle {
    display : none;
}

/* So milestones can be seen fully*/
.sch-gantt-timeline .sch-timelineview .x-grid-item-container {
    padding-bottom : 20px;
}

.sch-gantt-timeline-label {
    margin-top : 16px;
}

.sch-gantt-timeline-right-label {
    margin-left : 10px;
}

.sch-gantt-timeline-left-label {
    text-align   : right;
    margin-right : 10px;
}